@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  background-color: #D1E8E2 ;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

.animatedButton{
  animation-duration: 12000ms;
}

.ql-container{
  border:none !important
}

.ql-toolbar{
  border:none !important
}

.ql-container{
  border:none !important
}